/* @keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
} */
/* .line-div,
.train-home-child,
.train-home-inner,
.train-home-item {
  position: absolute;
  top: 145.41rem;
  left: 9.34rem;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 65.31rem;
  height: 0.06rem;
  opacity: 0.5;
} */
/* .line-div,
.train-home-inner,
.train-home-item {
  top: 148.66rem;
}
.line-div,
.train-home-inner {
  top: 152.16rem;
}
.line-div {
  top: 131.03rem;
}
.see-more {
  position: absolute;
  top: 124.31rem;
  left: 75.25rem;
  font-size: var(--font-size-lg);
  color: var(--accent);
  cursor: pointer;
} */
.frame1,
.layer-3-icon {
  position: absolute;
  overflow: hidden;
}
.layer-3-icon {
  height: 15.53%;
  width: 86.07%;
  top: 42.2%;
  right: 6.71%;
  bottom: 42.27%;
  left: 7.22%;
  max-width: 100%;
  max-height: 100%;
}
.frame1 {
  top: 88.31rem;
  left: 0;
  width: 90rem;
  height: 13.63rem;
}
.frame-child {
  position: absolute;
  top: 0.94rem;
  left: 62.63rem;
  border-top: 2px solid var(--accent);
  box-sizing: border-box;
  width: 1.25rem;
  height: 0.13rem;
}
.frame2 {
  position: absolute;
  top: 132rem;
  left: 9.44rem;
  width: 63.81rem;
  height: 1.5rem;
  overflow: hidden;
}
.sed-ut-perspiciatis {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 61.63rem;
}
.frame-item,
.frame3 {
  position: absolute;
  top: 0.25rem;
  left: 62.69rem;
  width: 1.13rem;
  height: 1.13rem;
}
.frame3 {
  top: 139.19rem;
  left: 9.44rem;
  width: 63.81rem;
  height: 1.5rem;
  overflow: hidden;
}
.frame-inner,
.frame4 {
  position: absolute;
  top: 0.38rem;
  left: 62.69rem;
  width: 1.13rem;
  height: 1.13rem;
}
.frame4 {
  top: 142.63rem;
  left: 9.44rem;
  width: 63.81rem;
  height: 1.5rem;
  overflow: hidden;
}
.frame5,
.group-icon {
  position: absolute;
  top: 0.5rem;
  left: 62.69rem;
  width: 1.13rem;
  height: 1.13rem;
}
.frame5 {
  top: 146.06rem;
  left: 9.44rem;
  width: 63.81rem;
  height: 1.63rem;
  overflow: hidden;
}
.excepteur-sint-occaecat {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 61.63rem;
}
.frame-child1 {
  position: absolute;
  top: 0.63rem;
  left: 62.69rem;
  width: 1.13rem;
  height: 1.13rem;
}
.frame10,
.frame6,
.frame7,
.frame8,
.frame9 {
  position: absolute;
  top: 135.5rem;
  left: 9.44rem;
  width: 63.81rem;
  height: 1.75rem;
  overflow: hidden;
}
.frame10,
.frame7,
.frame8,
.frame9 {
  top: 30.88rem;
  left: 9.38rem;
  width: 71.25rem;
  height: 2.25rem;
  font-size: var(--font-size-5xl);
}
.frame10,
.frame8,
.frame9 {
  top: 84.5rem;
}
.frame10,
.frame9 {
  top: 103.81rem;
}
.frame10 {
  top: 127.88rem;
}
.banner-child {
  position: absolute;
  top: 0;
  left: -0.06rem;
  border-radius: var(--br-xl);
  width: 71.38rem;
  height: 12.75rem;
  object-fit: cover;
}
.book-tickets-in {
  margin: 0;
}
.book-tickets-in-container {
  position: absolute;
  top: 4rem;
  left: 5.06rem;
  line-height: 2.5rem;
}
.banner {
  position: absolute;
  top: 0;
  left: 0.06rem;
  width: 71.31rem;
  height: 12.75rem;
}
.frame1111,
.frame12 {
  position: absolute;
  overflow: hidden;
}
.frame1111{
  top: 69.88rem;
  left: 9.31rem;
  width: 71.38rem;
  height: 12.75rem;
  font-size: 2rem;
  color: var(--color-white);
}
.frame12 {
  top: 134.13rem;
  left: 9.44rem;
  width: 71.13rem;
  height: 2.88rem;
  font-size: var(--font-size-mini);
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 23.13rem;
  height: 12.75rem;
  object-fit: cover;
}
.chennai-to-delhi {
  position: absolute;
  top: 9.19rem;
  left: 2.5rem;
  display: inline-block;
  width: 12.56rem;
}
.frame14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.13rem;
  height: 12.75rem;
  overflow: hidden;
}
.delhi-to-kolakta {
  position: absolute;
  top: 9.19rem;
  left: 2.5rem;
  display: inline-block;
  width: 8.35rem;
}
.frame15 {
  position: absolute;
  top: 0;
  left: 24.06rem;
  width: 23.13rem;
  height: 12.75rem;
  overflow: hidden;
}
.andhra-pradhesh-to {
  position: absolute;
  top: 8.25rem;
  left: 2.5rem;
  display: inline-block;
  width: 16.31rem;
}
.frame13,
.frame16 {
  position: absolute;
  height: 12.75rem;
  overflow: hidden;
}
.frame16 {
  top: 0;
  left: 48.19rem;
  width: 23.13rem;
}
.frame13 {
  top: 54rem;
  left: 9.31rem;
  width: 71.38rem;
  color: var(--color-white);
}
.train-home-child1,
.train-home-child2 {
  position: absolute;
  top: 138.28rem;
  left: 9.34rem;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 65.31rem;
  height: 0.06rem;
  opacity: 0.5;
}
.train-home-child2 {
  top: 141.84rem;
}
.lorem-ipsum-dolor,
.saves-time {
  position: absolute;
  top: 9.94rem;
  left: 1.63rem;
  display: inline-block;
  width: 13.75rem;
}
.saves-time {
  top: 7.5rem;
  left: 5.44rem;
  font-size: var(--font-size-base);
  font-weight: 600;
  width: 6.13rem;
  height: 1.75rem;
}
.offer-card-1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: #fef0ff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 24%;
  height: 100%;
}
.ipsum-dolor-sit {
  position: absolute;
  top: 9.94rem;
  left: 1.69rem;
  display: inline-block;
  width: 13.75rem;
}
.offers {
  position: absolute;
  top: 7.5rem;
  left: 7.13rem;
  font-size: var(--font-size-base);
  font-weight: 600;
  text-align: left;
}
.offer-card-3 {
  position: absolute;
  top: 0;
  left: 36.13rem;
  border-radius: var(--br-11xl);
  background-color: #fcffea;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #c5c5c5;
  box-sizing: border-box;
  width: 17.06rem;
  height: 15.44rem;
}
.cost-efficient {
  position: absolute;
  top: calc(50% - 3.5px);
  left: 5.44rem;
  font-size: var(--font-size-base);
  font-weight: 600;
  text-align: left;
}
.offer-card-2 {
  position: absolute;
  top: calc(50% - 123.5px);
  left: 18.06rem;
  border-radius: var(--br-11xl);
  background-color: #d9ffdb;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 17.06rem;
  height: 15.44rem;
}
.food {
  position: absolute;
  top: 7.5rem;
  left: 7.38rem;
  font-size: var(--font-size-base);
  font-weight: 600;
  text-align: left;
}
.offer-card-4,
.why-us {
  position: absolute;
  top: 0;
  height: 15.44rem;
}
.offer-card-4 {
  left: 54.19rem;
  border-radius: var(--br-11xl);
  background-color: #d8edfc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 17.06rem;
}
.why-us {
  left: 0;
  width: 71.25rem;
}
.frame-icon,
.frame-icon1,.frame-icon3,.frame-icon2 {
  position: absolute;
  top: 0;
  left:20%;
  width: 60%;
  height: 6.08rem;
  overflow: hidden;
}

.frame17 {
  top: 0;
  left: 12%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
}
.train-home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 191.94rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}



