@keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .why-us1 {
    margin-left:20px;
  }
  
  .fullpage{
    margin-left: 2.5rem; 
  }
  .ft{
    margin-left: 2.5rem; 
  }
.para.animate,.why-us1.animate{
  animation: 1s ease 0s 1 normal forwards fade-in;
}
