.banner-item {
  position: absolute;
  top: 0;
  left: 10%;
  border-radius: var(--br-xl);
  background: linear-gradient(90.28deg, #00418b, transparent);
  width: 80%;
  height: 100%;
  z-index: 1;
  text-align: left;
}
.booktickets{
  position:absolute;
  width: 80%;
  height:100% ;
  left: 10%;
  z-index: 0;
}
.booktexting{
  position: absolute;
  color: antiquewhite;
  font-family: poppins;
  left: 10%;
  top: 20%;

}