.bus1 {
  position: absolute;
  top: 0;
  right: 24%;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
}
.bus1:hover {
  color: #FFC845; /* Change to desired color */
}
.current-location {
  color: #FFC845; /* Change to desired color */
}