.foodbody{
  display: grid;
  place-items:center;
}
.foodsliders{
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  width: 90%;
  height: 100%;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width:calc(350px * 12);
  animation: scroll 10s linear infinite;
}
.foodslide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.fooodimages{
  width: 100%;
}
.fooodimages:hover{
  transform: translatez(20px);
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 6));
  }
}
