.chennai {
  border: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-lg);
  background-color: transparent;
  position: absolute;
  top: 0.88rem;
  left: 1.25rem;
  color: var(--color-black);
  text-align: left;
  border: none;
  outline: none; 
}
.frame20 {
  position: absolute;
  top: 2.88rem;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 17.06rem;
  height: 3.13rem;
  overflow: hidden;
}
