.frame-child8 {
  position: absolute;
  top: 0;
  left: 36.5%;
  border-radius: var(--br-xl);
  background: linear-gradient(-1.88deg, #000, transparent);
  width: 27%;
  height: 100%;
}
.delhi{
  height: 100%;
  width: 100%;
}