.flights1 {
  position: absolute;
  top: 0;
  right: 40%;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  text-align: left;
  cursor: pointer;
  color: var(--color-white);
}
.flights1:hover {
  color: #FFC845; /* Change to desired color */
}
