.book-train-tickets {
    top: 12.88rem;
    left: 9.38rem;
    width: 10.31rem;
    height: 1.44rem;
  }
  .book-train-tickets,
  .check-pnr-status,
  .from1 {
    position: absolute;
    display: inline-block;
  }
  .check-pnr-status {
    top: 12.88rem;
    left: 21.44rem;
    font-weight: 500;
    width: 10.31rem;
    height: 1.44rem;
  }
  .from1 {
    top: 0;
    left: 0;
    width: 6rem;
    height: 2.25rem;
  }
  .from {
    top: 15.56rem;
    left: 9.38rem;
    width: 17.06rem;
    height: 6rem;
    font-size: var(--font-size-11xl);
  }
  .from,
  .to,
  .to1,
  .to2 {
    position: absolute;
  }
  .to2 {
    top: 0;
    left: 0;
    display: inline-block;
    width: 2.31rem;
    height: 2.19rem;
  }
  .to,
  .to1 {
    width: 17.06rem;
    height: 5.94rem;
  }
  .to1 {
    top: 0;
    left: 0;
  }
  .to {
    top: 15.56rem;
    left: 27.44rem;
    font-size: var(--font-size-11xl);
  }
  .frame-child6 {
    position: absolute;
    top: 12.56rem;
    left: 20.5rem;
    border-right: 2px solid var(--color-white);
    box-sizing: border-box;
    width: 0.13rem;
    height: 2rem;
  }
  .frame-child7 {
    position: absolute;
    height: 5.37%;
    width: 1.88%;
    top: 66.16%;
    right: 31.88%;
    bottom: 28.47%;
    left: 66.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
 
  .navigation-bar-child {
    position: absolute;
    top: 1.5rem;
    left: 74.5rem;
    background-color: var(--color-gainsboro-200);
    width: 90rem;
    height: 4.38rem;
    display: none;
  }
  .log-in-button,
  .navigation-bar {
    position: absolute;
    width: 5.75rem;
    height: 1.94rem;
  }
  .log-in-button {
    top: 0;
    left: 0;
  }
  .navigation-bar {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 1.5rem;
    left: 74.5rem;
  }
  .date2 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 9.25rem;
    height: 2.25rem;
  }
  .date1 {
    top: 0;
    left: 0;
    width: 17.06rem;
    height: 6rem;
  }
  .date,
  .date1,
  .frame22 {
    position: absolute;
  }
  .date {
    top: 15.5rem;
    left: 45.5rem;
    width: 17.06rem;
    height: 6rem;
    font-size: var(--font-size-11xl);
  }
  .round-trip {
    position: absolute;
    top: 8.75rem;
    left: 22.75rem;
    font-weight: 800;
    font-family: var(--font-montserrat);
    color: var(--color-white);
  }
  .From1{
    /* From */

width: 96px;
height: 36px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

  }
  .frame24 {
    margin-right: 2rem;
    top: 0;
    margin-left:-2.5rem;
    background-image: url(/public/Bgimg.png);
    width: 90rem;
    height: 28.94rem;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  /* .fromlabel{
    

    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 6rem;
    height: 2.25rem;
  } */
  .fullpage{
    margin-right:4rem;
  }
 
  .frominput{
left:  9.375rem;
}
 
 .fromlabel{
width: 96px;
left: 150px;
 }
.tolabel{

width: 14rem;
left: 406px;
}
.toinput{
left: 406px;
}
.departurelabel{
width: 169px;
left: 662px;
}
.departureinput{
left: 662px;
}
.frominput,.toinput,.departureinput,.returninput{
  position: absolute;
  width:14rem;
  height: 1.25rem;
  background: #FFFFFF;
  border-radius: 10px;
  top: 14.0625rem;
}
.returninput{
  Left:918px;
}
.returnlabel,.fromlabel,.tolabel,.departurelabel{
  position: absolute;
 height: 36px;
 top: 179px;
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 37px;
 color: #FFFFFF;
}
.returnlabel{
  width: 169px;
height: 36px;
left: 918px;

}
.roundlabel{
  display: flex;
  align-items: center;
  position: absolute;
  width: 4.6875rem;
  height: 1.25rem;
left: 16.625rem;
top: 8.75rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height */
  
  color: #FFFFFF;
}
.roundinput{
  margin: 0;
}
.travellerinput{
  width: 40px;
  margin: 0;
  border: none;
  outline: none; 
}
.input-wrapper {
position: absolute;
width: 321px;
height: 50px;
left: 150px;
top: 351px;
background: #FFFFFF;
border-radius: 10px;
}
.travellerlabel{
position: absolute;
width: 272px;
height: 36px;
left: 150px;
top: 305px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
}
.classinput{
  top: 380px;
}
.texttravel{
/* 1 Traveller */
position: absolute;
width: 11px;
height: 22px;
left: 100px;
top: 371px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 22px;
/* identical to box height */

color: #000000;


}
.onewaylabel{
  /* One way */
text-align: center;
  display: flex;
  align-items: center;
position: absolute;
width: 80px;
height: 20px;
left: 150px;
top: 140px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 20px;

/* identical to box height */
color: #FFFFFF;


}
.searchflightsbutton:hover {
  background: #0F6AC0; /* Change the background color on hover */
}
.searchflightsbutton{
 background-color: #0C54A6;
 width: 190px;
 height: 50px;
 font-family: 'Montserrat';
 margin-left:35rem;
 margin-top: 12.4rem;
 font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
cursor: pointer;
}
