/* Rectangle 34 */
.dabba{
position: absolute;
width: 30%;
height:50%;
left: 35%;
top: 30%;

background: white;
border-radius: 18px;
border: 2px solid black;
animation: zebra 2s infinite;
z-index: 2000;
}
@keyframes zebra {
    0% { border-color: black; }
    50% { border-color: gray; }
    100% { border-color: black; }
  }
.mailinputer{
    /* Rectangle 35 */

box-sizing: border-box;

position: absolute;
top: 45%;
width: 70%;
left: 15%;
}
.emailtext{
    position: absolute;
    color: black;
    top:35%;
    left: 15%;
    font-size: medium;
}
.continue{
    position: absolute;
    bottom: 15%;
    width:50%;
    left: 25%;
    cursor: pointer;
  font-size: var(--font-size-mini);
  font-family: var(--font-poppins);
  color: var(--color-white);
  background-color: blue;
  display: inline-block;
}
.continue:hover{
    background-color: rgb(42, 42, 187);
}
.error {
    border: 2px solid red;
  }