.trains-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  right: 3%;
  width: 60%;
  height: 20%;
  text-align: right;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
  color: var(--color-white);
}
.current-location {
  color: #FFC845; /* Change to desired color for current location */
}
/* 1.63rem */
