.frame-child5 {
  position: absolute;
  height: 7.69%;
  width: 11.06%;
  top: 92.31%;
  right: 89.16%;
  bottom: 0;
  left: -0.22%;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.trains-parent {
  position: absolute;
  top: 1.75rem;
  left: calc(50% - 19px);
  width: 28.25rem;
  height: 1.63rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
