.log-in-button-child {
  top:-30%;
  right: 0;
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--accent);
  width: 5rem;
  cursor: pointer;
  font-size: var(--font-size-mini);
  font-family: var(--font-poppins);
  color: var(--color-white);
  display: inline-block;
}
.log-in-button-child:hover {
  background-color: var(--color-cornflowerblue); /* Change to desired color */
  color: var(--color-black); /* Change to desired color */
}
