
.rectangle-nav {
  margin: 0;
  position:fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height:10.1%;
  opacity: 1;
  z-index: 1000;
}

.icon-and-logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon1 {
  position: absolute;
  top:20%;
  width: 3rem;
  height: 2.5rem;
  left:3%;
}

.logo2 {
  position: absolute;
  top: 17%;
  left:10%;
  width: 10%;
  text-align: left;
  color: var(--color-yellowgreen);
  font-family: var(--font-poppins); /* Add some space between the icon and the logo */
   /* Set the color for the text */
   /* Adjust the font size as needed */
}

.my-vacations1 {
  color: var(--color-cornflowerblue);
}