.trains1 {
  position: absolute;
  top: 0;
  right: 80%;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  text-align: left;
  color:var(--color-white);
  cursor: pointer;
}
.trains1:hover {
  color: #FFC845; /* Change to desired color */
}
.current-location {
  color: #FFC845; /* Change to desired color for current location */
}

