.traveller-class1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  display: inline-block;
  color: var(--color-white);
  width: 100%;
  height: 2.25rem;
}
.to-child1 {
  position: absolute;
  top: 38%;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 50%;
  height: 4.81rem;
  text-align: center;
  cursor: pointer;
}
.traveller1 {
  top: 4.13rem;
  left: 1.25rem;
  font-weight: 600;
}
.economy2,
.to8,
.traveller1 {
  position: absolute;
}
.economy2 {
  top: 5.06rem;
  left: 28%;
  font-weight: 500;
}
.to8 {
  top:41%;
  left: 10%;
  width: 50%;
  height: 7.69rem;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.travelstext{
  position: relative;
  top: 30%;
  font-family: var(--font-montserrat);
  font-weight: 500;
}
