
  .frame26 {
    top: 0;
    margin-left:3.5%;
    
    width: 100%;
    height: 28.94rem;
    overflow: hidden;
    background-image: url(/public/Bgimg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  .fullpage{
    margin-right:6.2%;
  }